<div mat-dialog-content class="set-filter-by-propery-type-dialog">
    <p>Select filter by prices</p>
    <form class="select-categories" [formGroup]="categoryFilterForm">
      <b2-select-category formControlName="selectedCategories"></b2-select-category>
      <div mat-dialog-actions>
        <button mat-button (click)="onCancelClick()">Cancel</button>
        <button mat-button type="submit" [disabled]="categoryFilterForm.invalid"  (click)="onSubmit()" cdkFocusInitial>Apply</button>
      </div>
    </form>
</div>
